@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1701518339199') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\f00d9";
}

.icon-youxi:before {
  content: "\e643";
}

.icon-erweima:before {
  content: "\e65f";
}

.icon-guanbi1:before {
  content: "\e723";
}

.icon-biji-copy:before {
  content: "\e600";
}

.icon-xiangyoujiantou:before {
  content: "\e660";
}

.icon-left-1:before {
  content: "\e603";
}

.icon-youjian:before {
  content: "\e624";
}

.icon-hongbao:before {
  content: "\e669";
}

.icon-jinbi:before {
  content: "\e610";
}

.icon-user__easyico:before {
  content: "\e52f";
}

.icon-shijian:before {
  content: "\e8a9";
}

.icon-shoucangxiao:before {
  content: "\e8bc";
}

.icon-neibufankui:before {
  content: "\e62f";
}

.icon-dingdan:before {
  content: "\e645";
}

.icon-wodedamaijihuo:before {
  content: "\e656";
}

.icon-fuli:before {
  content: "\e62a";
}

.icon-shucheng:before {
  content: "\e648";
}

.icon-xiazai-:before {
  content: "\e608";
}

.icon-liwu:before {
  content: "\e638";
}

.icon-yuedu:before {
  content: "\e612";
}

.icon-dianzan:before {
  content: "\e653";
}

.icon-weixin:before {
  content: "\e637";
}

.icon-shujia:before {
  content: "\e620";
}

.icon-pengyouquan:before {
  content: "\e667";
}

.icon-fenlei:before {
  content: "\e78a";
}

.icon-zhinanzhen:before {
  content: "\e684";
}

.icon-gongyi:before {
  content: "\e60a";
}

.icon-huanyihuan:before {
  content: "\e6a9";
}

.icon-bijijilu:before {
  content: "\e6f3";
}

.icon-weixinzhifu:before {
  content: "\e621";
}

